WCFBenchmark/Connected Services/ServiceReference1/MeteoriteLandingsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57985/MeteoriteLandingsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLibraryWCF.WCF" />
  <xs:element name="GetSmallPayload">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmallPayloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSmallPayloadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLargePayload">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLargePayloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelLibraryWCF.WCF" minOccurs="0" name="GetLargePayloadResult" nillable="true" type="q1:ArrayOfMeteoriteLanding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostLargePayload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelLibraryWCF.WCF" minOccurs="0" name="meteoriteLandings" nillable="true" type="q2:ArrayOfMeteoriteLanding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostLargePayloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostLargePayloadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>